body{
    background-image: url("../images/comfybg.jpg");
    padding:10px;
}

#fare{
  background-color: rgb(84, 158, 96);
  width: 60%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

ul li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color:aliceblue;
}

ul li a :hover{
    color: rgb(240, 216, 6);
}

h1{
    color: rgb(240, 216, 6);
    text-align: center;
    font-family: serif;
    font-size: 35px;
    padding-top: 9px;
}

.company{
    font-style: italic;
    text-align: center;
    color: rgb(240, 216, 6);
}
hr{
    background-color: aliceblue;
    height: 3px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
}

.routes p{
    display: inline-block;
    margin-top:5px;
    margin-bottom:5px;
    font-size: 20px;
}

.route{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(195, 228, 9);
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
    color: rgb(195, 228, 9);
}

h3,h5{
    text-align: center;
}
