body{
    background-image: url("./images/background.jpg");
}

.fare{
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}
h1{
    text-align: center;
    font-family: serif;
}
.company{
    font-style: italic;
    text-align: center;
    color: coral;
}